@tailwind base;
@tailwind components;
@tailwind utilities;

:root {}

@media (prefers-color-scheme: dark) {
  :root {}
}

body {
  --night: #0a090cff;
  --antiflash-white: #f0edeeff;
  --midnight-green: #07393cff;
  --caribbean-current: #2c666eff;
  --non-photo-blue: #90ddf0ff;
}